
<!DOCTYPE html>
<html>
<head>   
    <title>My Razor Pages</title>
</head>
<body>     

    <header>
        <partial name="Shared/NavMenuPartial" />  
    </header>              

    <main>
        @RenderBody()
    </main>
    
</body>
</html>