@page
@model Index


<!DOCTYPE html>

<head>   
    <title>My Razor Pages</title>
</head>
<body> 
             
    <main>
        
    </main>

        <partial name="Shared/NavMenuPartial" />    
    
</body>
</html>